@import '../../common/css/rem';
@import '../../common/css/const';
.error-ctr {
    p {
        position: fixed;
        width: 100%;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        font-size: rem(80);
        color: #697a8a;
        opacity: 1
    }
   
}
